<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063724913858-ne5gpmaii99un4oe6g1pp6m7815b9mc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063724913858-ne5gpmaii99un4oe6g1pp6m7815b9mc1</string>
	<key>API_KEY</key>
	<string>AIzaSyDFRks10IiIN4eeIZgBkjaFFmPJJ1JnOvY</string>
	<key>GCM_SENDER_ID</key>
	<string>1063724913858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qq.NewAppTestFramework</string>
	<key>PROJECT_ID</key>
	<string>testforfather-b85e0</string>
	<key>STORAGE_BUCKET</key>
	<string>testforfather-b85e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063724913858:ios:0730d364113b089eee175b</string>
</dict>
</plist>